<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>123Movies 2: Electric Boogaloo</title>
</head>
<body background='https://png.pngtree.com/thumb_back/fw800/back_pic/04/48/50/00585a3568a0a7d.jpg' background-size="cover"style='width:100%;height:100%'>

  {% if error %}
    <p class=error><strong>Error:</strong> {{ error }}
  {% endif %}

    <!--<div style='position:absolute;z-index:0;left:0;top:0;width:100%;height:100%'>
  <img src='https://png.pngtree.com/thumb_back/fw800/back_pic/04/48/50/00585a3568a0a7d.jpg' style='width:100%;height:100%' alt='[]' />
</div>-->


    <div style = "float:left; margin:10px; border-style:solid; border-width:1px; padding:10px">
        <b>Welcome to 123 Movies 2: Electric Boogaloo</b><br>
            Logged in as {{ username }}.  <a href = '/profile'>View your profile</a>
        <br><b><a href = '/logout'>Logout</a></b>
    </div>

    <!--

    <div style = "float:right; border-style:solid; border-width:1px; margin:10px; padding:5px">
        <form action = "/first_search_results" method = post>
             <fieldset>
                <legend style= "text-align:left">Search 123Movies 2: Electric Boogaloo</legend>
                {{ form.hidden_tag() }}

            <div style = "font-size:20px; font-weight:bold; margin-left:150px">
               {{ form.query }}

               {{ form.category }}

               {{ form.submit }}
            </div>
            </fieldset>
        </form>
    </div>

    -->

  <div style = "float:right; border-style:solid; border-width:1px; margin:10px; padding:5px">
        <a href="/searchMovie">Search Movie</a>
    </div>

    <div style = "float:right; border-style:solid; border-width:1px; margin:10px; padding:5px">
        <a href="/users">View all users</a>
    </div>
    <div style = "float:right; border-style:solid; border-width:1px; margin:10px; padding:5px">
        <a href="/recommend">Recommendation</a>
    </div>
    <div style = "float:right; border-style:solid; border-width:1px; margin:10px; padding:5px">
        <a href="/featuredActionMovies">Featured Action Movies</a>
    </div>
    <div style = "float:right; border-style:solid; border-width:1px; margin:10px; padding:5px">
        <a href="/featuredComedyMovies">Featured Comedy Movies</a>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>