<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
 {% if error %}
    <p class=error><strong>Error:</strong> {{ error }}
  {% endif %}

<!-- directors=directors, actors=actors, plot=plot,
category=category, query=query, predictedRating=predictedRating,
pagenum=pagenum, releaseYear=curMovieObj[1], imdbRating=curMovieObj[2], runtime=curMovieObj[3], movie = curMovieObj)
-->

    <div style = "position:absolute; top:90px; left:0px">
            <div style = "font-size:20px; font-weight:bold; margin-left:25px">
                <h1>{{ movieTitle }} ({{releaseYear}})</h1>
                <img src={{posterUrl}} alt="Girl in a jacket">
            </div>


            <div style = "font-size:15px; font-weight:bold; margin-left:25px">
                <h1>Predicted Rating</h1>
                    {{ predictedRating }} / 5

                <h1>IMDB Rating</h1>
                    {{ imdbRating/2 }} / 5

                <h1>Runtime</h1>
                    {{ runtime }} minutes

                <h1>Directors</h1>
                {% for director in directors %}
                    {{director}}
                    <br>
                {% endfor %}

                <h1>Actors</h1>
                {% for actor in actors %}
                    {{actor}}
                    <br>
                {% endfor %}
                
                <h1>Plot</h1>
                {{plot}}
            </div>
    </div>

    <!-- TODO Display dynamic generation of results -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>



</body>
</html>