<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Recommended Movies</title>

    <script>
        function viewMovieInfo(movieId){
            var curForm = document.getElementById(movieId);
            curForm.action = "/viewMovieInfo";
            curForm.submit();
        }
        function requestRating(movieId){
            var curForm = document.getElementById(movieId);
            curForm.action = "/requestRating"
            curForm.submit();
        }
        function nextPage(pagenumber){
            var curForm = document.getElementById("next_page");
            curForm.action = "/search_result_page/" + (parseInt(pagenumber)+1)
            curForm.submit();
        }
    </script>
</head>

      <!-- <div style="font-size:35px;position:absolute;right:15px;top:5px">
        <img src="banner.png" alt="banner.png">
        <button class="btn">Button</button>
        <a href="/homepage">home</a>
      </div> -->

      <div style="font-size:35px;position:absolute;right:15px;top:5px">
      <a href="/homepage">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSWwa7w2C16eXPDF9Mz2Tm6e8D7X_f6sEaKuUIdusNTT_6--MBlsg" alt="Home" width="100" height="40">
      </a>
      </div>

      <div style="font-size:35px;position:absolute;left:15px;top:5px">
    <strong> Movies Recommended for you </strong><br>
  </div>

  <div style = "position:absolute; top:110px; left:0px">
      <div style = "font-size:20px;margin-left:25px">
        {% for movie in movies %}
              Recommendation {{loop.index0+1}}: 
              <br>
               Title: <strong>{{ movie[1] }} </strong>
               <br>
               Year: <strong>{{ movie[2] }} </strong> 
               <br>
               <form action = "/insertRating" id="{{movie[0]}}" method = post>
                  
                    <input type="hidden" name="movieId" value={{movie[0]}}>
                    <input type="hidden" name="category" value={{category}}>
                    <input type="hidden" name="searchTerm" value={{searchTerm}}>
                    <input type="hidden" name="pagenum" value={{pagenum}}>

                  
                    <button onclick=viewMovieInfo("{{movie[0]}}")>Movie Info</button>
                    
                    <br>
                </form>

               <br>
        {% endfor %}
               
      </div>
  </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
