<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>first search result</title>

    <style>

        .next {
            background-color: #4CAF50;
            color: white;
        }

        .prev {
            background-color: #4CAF50;
            color: white;
        }

        #container {
          height: 100%;
          width: 100%;
          display: flex;
        }


        #left{
            width: 110px;
        }
        #right{
            width: 100px;
        }

    </style>

    <script>
        function viewMovieInfo(movieId){
            var curForm = document.getElementById(movieId);
            curForm.action = "/viewMovieInfo";
            curForm.submit();
        }
        function requestRating(movieId){
            var curForm = document.getElementById(movieId);
            curForm.action = "/requestRating"
            curForm.submit();
        }
        function nextPage(pagenumber){
            var curForm = document.getElementById("next_page");
            curForm.action = "/search_result_page/" + (parseInt(pagenumber)+1)
            curForm.submit();
        }

        function prevPage(pagenumber){
            var curForm = document.getElementById("prev_page");

            var page = parseInt(pagenumber)-1
            if (page==0){
                curForm.action = "/first_search_results";
                var curInput = document.getElementById("prevEdgeCase");
                curInput.setAttribute("name", "query")
            }
            else{
                curForm.action = "/search_result_page/" + page
            }
            curForm.submit();
        }
    </script>
</head>
<body>

  {% if error %}
    <p class=error><strong>Error:</strong> {{ error }}
  {% endif %}


    <div style = "float:left; margin:10px; border-style:solid; border-width:1px; padding:10px">
        <b>Welcome to 123 Movies 2: Electric Boogaloo</b><br>
            Logged in as {{ username }}. <a href = '/profile'>View your profile</a>
        <br><b><a href = '/logout'>Logout</a></b>
    </div>

    <div style = "float:right; border-style:solid; border-width:1px; margin:10px; padding:5px">
        <a href="/users">View all users</a>
    </div>

    <div style = "float:right; border-style:solid; border-width:1px; margin:10px; padding:5px">
        <a href="/searchMovie">Search Movie</a>
    </div>

    <div style = "position:absolute; top:120px; left:0px">
            <fieldset>
                <legend style= "text-align:left;margin:25px">Search Results</legend>

            <div style = "font-size:20px; font-weight:bold; margin-left:25px">
                {% for rating_form in form2 %}
                <form action = "/insertRating" id="{{rating_form.movieId}}" method = post>
                    {% for subfield in rating_form.rating %}
                        {{ subfield.label }} {{ subfield }}
                    {% endfor %}
                    <input type="hidden" name="movieId" value={{rating_form.movieId}}>
                    <input type="hidden" name="category" value={{category}}>
                    <input type="hidden" name="searchTerm" value={{searchTerm}}>

                    {{ rating_form.submit }}
                    <button onclick=viewMovieInfo("{{rating_form.movieId}}")>Movie Info</button>
                    <strong>{{ movies[loop.index0].title}} </strong>
                   <!-- <strong>{{ movies[loop.index0].title}} {{ movies[loop.index0].genre }}
                        {{ movies[loop.index0].releaseYear }} {{ movies[loop.index0].runtime }}min</strong> -->
                    <br>
                </form>
                {% endfor %}
                <div id="container">
                    <div id="left">
                        <form id="prev_page" method=post>
                            <input type="hidden" name="category" value={{category}}>
                            <input type="hidden" id="prevEdgeCase" name="searchTerm" value={{searchTerm}}>
                            <input type="hidden" name="pagenum" value={{pagenum}}>
                            <button class="prev" onclick=prevPage("{{pagenum}}")>&laquo; Previous</button>
                        </form>
                    </div>
                    <div id="right">
                        <form id="next_page" method=post>
                            <input type="hidden" name="category" value={{category}}>
                            <input type="hidden" name="searchTerm" value={{searchTerm}}>
                            <input type="hidden" name="pagenum" value={{pagenum}}>
                            <button class="next" onclick=nextPage("{{pagenum}}")>Next &raquo;</button>
                        </form>
                    </div>
                </div>

            </div>


            </fieldset>
    </div>


    <!-- TODO Display dynamic generation of results -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>